[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "==2020.4"
sqlparse = "==0.4.1"
Django = "==3.1.4"
twilio = "*"
flask = "*"
arrow = "*"

[dev-packages]

[requires]
python_version = "3.9"
