[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "==2023.3.post1"
sqlparse = "==0.4.4"
Django = "==4.2.2"
twilio = "*"
flask = "*"
arrow = "*"

[dev-packages]

[requires]
python_version = "3.9"
